{% extends 'base_public.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block recherche %}{% endblock %}
{% block body %}
    <section class="banner">
        <div class="container">
            <div class="row">
                <h3>A la Une!</h3>
                <a href="{{path('app_show', {id:articleUne.id})}}" title="En savoir plus sur {{articleUne.titre}}">
                    <div class="card-une">
                        <div class="column-45">
                            <img src="{{asset('images/article/' ~ articleUne.image)}}" alt="Illustration de l'article {{articleUne.titre}}">
                        </div>
                        <div class="column-45">
                            <div class="encart-une">
                                <p class="etiquette">{{articleUne.categorie.nom}}</p>
                                <h2>{{articleUne.titre}}</h2>
                                <p class="chapeau">{{articleUne.chapeau}}</p>
                                <div class="auteur">
                                    <div class="photo">
                                         <img src="{{asset('images/user/' ~ articleUne.auteur.photo)}}" alt="Photo de {{articleUne.auteur.pseudo}}">
                                    </div>
                                    <p>{{articleUne.auteur.pseudo}}</p>
                                </div>
                                <div class="info-article">
                                    <p>publié le {{ (articleUne.modification ?? articleUne.creation)|date('d F Y à H\\hi') }}</p>  
                                    <div class="avis">
                                        <div class="commentaire">
                                            {{ ux_icon('ph:chat-circle-dots', {'class': "pictos"}) }}
                                            <p>{{articleUne.commentaires|length}}</p>
                                        </div>
                                        <div class="like">
                                            {{ ux_icon('ph:heart',{'class': "pictos"}) }}
                                            <p>{{articleUne.likes|length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a> 
            </div>
        </div>
    </section>
    <section class="selection-articles">
        <div class="container">
            <div class="row">
                <h3>Dernières parutions</h3>
                <div class="container-card">
                    {% for article in articles %}
                        {% include "fragment/_cardArticle.html.twig" %}
                    {% endfor %}
                    <!--<div class="card">
                        <div class="column-30">
                            <img src="" alt="">
                        </div>
                        <div class="column-65">
                            <div class="encart">
                                <p class="etiquette">La categorie</p>
                                <div class="card-head">
                                    <h4>titre de l'article</h4>
                                    <p class="sous-titre">pseudo</p>
                                </div>
                                <div class="card-date">
                                    <p>date de modification ou parution</p>
                                </div>                            
                                <p class="chapeau">chapeau de l'article</p>
                                <div class="cta">
                                    <a href="#" title="">
                                        <p>Lire la suite</p>
                                        <img src="" alt="">
                                    </a>
                                </div>
                                <div class="info-article">
                                    <div class="avis">
                                        <div class="commentaire">
                                            <img src="" alt="">
                                            <p>nbre de commentaire</p>
                                        </div>
                                        <div class="like">
                                            <img src="" alt="">
                                            <p>nbre de like</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
