{% extends 'base_log.html.twig' %}

{% block title %}Register{% endblock %}


{% block body %}
<section class="creation-compte">
    <h1>Créer votre compte</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.pseudo, {
            label: 'Choisissez un pseudo'
        })}}
        {{ form_row(registrationForm.photo, {
            label: 'Uploader votre photo'
        })}}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="primary-btn">Enregistrer</button>
    {{ form_end(registrationForm) }}
</section>
    
{% endblock %}
